body {
    --twitter-color: #ADD8E6;
    --twiter-background: #243447;
    background: #141d26;
    color: azure;
}
.app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
