.feed {
    flex: 0.4;
    border-right: 1px solid #D3D3D3;
    min-width: fit-content;
    overflow-y: scroll;
}
/*hide for chrome safari opera*/
.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none; /*ie and edge*/
    scrollbar-width: none; /*firefox*/
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: #141d26;
    z-index: 100;
    border: 1px solid #D3D3D3;
    padding: 15px 20px;
    color: lightgray;
}

.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
}