.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    color:white;
}

.post__body > img {
    border-radius: 20px;
    max-height:200px;
    width: auto;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post__badge {
    font-size: 14px !important;
    color: peachpuff;
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: lightslategrey;
}

.post__headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.post__headerDescription {
    font-size: 15px;
    margin-bottom: 10px;
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    padding-left: 10px;
    padding-top: 10px;
}

.redButton {
    background-color: black;
    color: red;
}

.greenButton {
    background-color: white;
    color: green;
}

.overlay .mask:hover {
    opacity: 0.5;
}