.sidebar {
    /*border-right: 1px solid #D3D3D3;*/
    flex: 0.3; /*30% of the screen*/
    /*min-width: 250px;*/
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar__twitterIcon {
    color: lightblue;
    font-size: 30px !important; /*an icon is like a text*/
    /*margin-left: 10px;*/
    margin-bottom: 20px;
}
.myHover .myHover--on,
.myHover:hover .myHover--off {
    display: none;
}

.myHover:hover .myHover--on {
    display: inline;
    cursor: pointer;
}

/*.sidebar__tweet {*/
    /*!important pt a suprascrie/ overwrite Button @material-ui*/
    /*background-color: #20B2AA !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}*/
